html,
            body {
                height: 100%;
            }
    
            body {
                background:rgb(211, 88, 88);
                /* fallback for old browsers */
                background: -webkit-linear-gradient(to right,rgb(201, 21, 21),rgb(226, 52, 52));
                /* Chrome 10-25, Safari 5.1-6 */
                background: linear-gradient(to right,rgb(68, 7, 7),rgb(165, 41, 41));
                /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                color: white;
                  display: flex;
                justify-content: center;
                align-items:start;
              
                padding-top: 40px;
                padding-bottom: 40px;
              
            }
    
            .form-signin {
                width: 600px;
                height:500px;
               min-width: 330px;
                padding: 15px;
                margin: auto;
                color: #212121;
                border: 4px solid #ff993b;
                border-radius: 25px;
                display: flex;
                justify-content: center;
                align-items:start;
                box-shadow:2px, 2px, 2px rgb(236, 226, 226);
              
            }
    
          form{

              display: flex;
                justify-content: center;
                align-items:center;
                flex-direction:column;
                gap:30px;
              
          }
.from-group{


    width:100px;
    outline:none;
}


      .Input:hover
      , .Input:focus {
       
        border: 2px solid #ff993b;
        box-shadow:7px 7px 7px rgb(211, 131, 56);
    outline: 2px solid orange;
  } 
  .Input{
  border: 3px solid #ff993b;
    width:100%;
    height: 40px;
  }
  